
  .main{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 .data-div{
    display: flex;
    align-items: center;
    gap: 8px;
    h1{
        font-size: 11px;
        line-height: 13px;
        font-weight: 600;
        color: #333333;
        font-family: 'Neo Sans Arabic', sans-serif; /* Apply the font family here */
    }
    p{
        font-size: 10px;
        line-height: 15px;
        font-weight: 500;
        color: #333333;
        font-family: 'Neo Sans Arabic', sans-serif; /* Apply the font family here */
    }
 }
    .pagination {
        direction: ltr;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
      }
      .pagination a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        text-decoration: none;
        color: #9c9c9c;
        border: 1px solid transparent;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.3s ease;
      }
      .pagination a.active {
        background-color: #4899f1;
        color: white;
        border-color: #4899f1;
      }
      .pagination a:hover {
        background-color: #eaf3ff;
        border-color: #4899f1;
        color: #4899f1;
      }
      .pagination a.disabled {
        pointer-events: none;
        opacity: 0.7;
      }
      
  }